{% extends 'index.html' %}
{% load humanize %}
{% block content %}
<div class="phong_name">Phòng {{phong.id}}</div>
<div class="phong_name">tháng: {{thangnam}}</div>
{% if congno.trangthai == True %}
<div class="phong_name" style="color: green">đã đóng</div>
{% else %}
<div class="phong_name" style="color: red">chưa đóng</div>
{% endif %}

<table class="table">
	<thead>
		<tr>
			<th class="text-align-center" scope="col">Tiền</th>
			<th class="text-align-center" scope="col">Số của tháng trước</th>
			<th class="text-align-center" scope="col">Số của tháng này</th>
			<th class="text-align-center" scope="col">Tổng số</th>
			<th class="text-align-center" scope="col">đơn giá/số(khối)</th>
			<th class="text-align-center" scope="col">thành tiền</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th class="text-align-center" scope="row">Điện</th>
			<td class="text-align-center">{{congnothangtruoc.sodien|intcomma}}</td>
			<td class="text-align-center">{{congno.sodien|intcomma}}</td>
			<td class="text-align-center">{{tongsodien|intcomma}} số</td>
			<td class="text-align-center"><span>3.000đ(&lt;=150)</span> <br>
				<span>3.500đ(&gt;150)</span>
			</td>
			<td class="text-align-center">{{congno.tiendien|intcomma}}đ</td>
		</tr>
		<tr>
			<th class="text-align-center" scope="row">Nước</th>
			<td class="text-align-center">{{congnothangtruoc.sonuoc|intcomma}}</td>
			<td class="text-align-center">{{congno.sonuoc|intcomma}}</td>
			<td class="text-align-center">{{tongsonuoc|intcomma}} khối</td>
			<td class="text-align-center">18.000đ</td>
			<td class="text-align-center">{{congno.tiennuoc|intcomma}}đ</td>
		</tr>
		<tr style="border-top: 2px solid black">
			<th class="text-align-center" scope="row">Tổng</th>
			<td class="text-align-center"></td>
			<td class="text-align-center"></td>
			<td class="text-align-center"></td>
			<td class="text-align-center"></td>
			<td class="text-align-center">{{congno.tong|intcomma}} đ</td>
			</td>
		</tr>
	</tbody>
</table>
<div><button class="btn btn-primary more-div" onclick="history.back()">quay lại</button>
</div>
{% endblock %}