{% extends "index.html" %}
{% load humanize %}
{% block content %}

<div class="container-fluid container-xxl">
	<ol class="list-group list-group-numbered">
		{% for x in phongs %}
		<a href="/congno/phong={{x.stt}}/" class="list-group-item d-flex justify-content-between align-items-start">
			<div class="ms-2 me-auto">
				<div class="fw-bold">Phòng {{x.stt}}</div>
				<span class="">({{x.vitri}})</span>
			</div>
			{% if x.no == 0 %}
			<i class="fa-solid fa-circle-check check-icon" style="color: #63E6BE;"></i>
			{% else %}
			<span class="check-thieu"> còn thiếu: {{x.no|floatformat:0|intcomma}}đ </span>
			{% endif %}
		</a>
		{% endfor %}
	</ol>
</div>
<p>v2.0</p>

{% endblock %}