{% extends 'index.html' %}
{% block content %}
<form action="{% url 'tinhtien' %}" method="post">
	{% csrf_token %}
	<div class="phong_name">Tính tiền điện nước</div>
	<label class="phong_name">tháng</label>
	<input type="text" name="thang" value="{{thang}}">
	<div class="row my-2">
		<span class="col-2 phong-title"></span>
		<div class="col-5" style="text-align: center;">
			<h1>Số điện</h1>
		</div>
		<div class="col-5" style="text-align: center;">
			<h1>Số nước</h1>
		</div>
	</div>
	{% for x in phongs %}
	<div class="row my-2">
		<span class="col-2 phong-title">Phòng {{x.stt}}</span>
		<div class="col-5">
			<input type="number" step="any" class="form-control" placeholder="Số điện" name="sodienp{{x.id}}"
				value="{{x.sodienthangtruoc}}">
		</div>
		<div class="col-5">
			{% if x.stt == 4 %}
			<input type="number" step="any" class="form-control" placeholder="Số nước" name="sonuocp{{x.id}}" hidden
				value="{{x.sonuocthangtruoc}}">
			{% else %}
			<input type="number" step="any" class="form-control" placeholder="Số nước" name="sonuocp{{x.id}}"
				value="{{x.sonuocthangtruoc}}">
			{% endif %}
		</div>
	</div>
	{% endfor %}
	<button type="submit" class="btn btn-primary filter-btn more-div py-1" name="form-tinhtien">Tính toán</button>
</form>
<a href="/home/"><button class="btn btn-primary more-div my-2">quay lại</button></a>
{% endblock %}