{% extends 'index.html' %}
{% block content %}
<!-- <div class="phong_name container-fluid">
	<div class="phong_name">tiền điện nước</div><br>
	<form method="post" class="phong_name">
		{% csrf_token %}
		<label>tháng</label>
		<input type="text" name="thang" value="{{thangnay}}">
		</select>
		<label>năm</label>
		<input type="text" name="nam" value="{{namnay}}">
		<br>
		<span>Phòng 1:</span>
		<label>số điện</label>
		<input type="text" name="thang" value="{{thangnay}}">
		</select>
		<label>số nước</label>
		<input type="text" name="nam" value="{{namnay}}">
		<button type="submit" class="btn btn-primary filter-btn more-div" name="form-time">Tính toán</button>
	</form>
</div> -->
<form action="{% url 'tinhtien' %}" method="post">
	{% csrf_token %}
	<div class="phong_name">Tính tiền điện nước</div>
	<label class="phong_name">tháng</label>
	<input type="text" name="thang" value="{{thang}}">
	<div class="row my-2">
		<span class="col-2 phong-title">Phòng 1</span>
		<div class="col-5">
			<input type="number" class="form-control" placeholder="Số điện" name="sodienp1">
		</div>
		<div class="col-5">
			<input type="number" class="form-control" placeholder="Số nước" name="sonuocp1">
		</div>
	</div>
	<div class="row py-2">
		<span class="col-2 phong-title">Phòng 2</span>
		<div class="col-5">
			<input type="number" class="form-control" placeholder="Số điện" name="sodienp2">
		</div>
		<div class="col-5">
			<input type="number" class="form-control" placeholder="Số nước" name="sonuocp2">
		</div>
	</div>
	<div class="row py-2">
		<span class="col-2 phong-title">Phòng 3</span>
		<div class="col-5">
			<input type="number" class="form-control" placeholder="Số điện" name="sodienp3">
		</div>
		<div class="col-5">
			<input type="number" class="form-control" placeholder="Số nước" name="sonuocp3">
		</div>
	</div>
	<button type="submit" class="btn btn-primary filter-btn more-div py-1" name="form-time">Tính toán</button>
</form>
<a href="/home/"><button class="btn btn-primary more-div my-2">quay lại</button></a>
{% endblock %}